    <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link href="~\Content\bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Content/portal.css")
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <style>
        .navigation{
            float: right;
            display: block;
            margin: 5px 150px 0 0;
        }
        .nav-item .nav-link {
            background-color: #e6ccb2;
        }
    </style>
</head>
<body>
    <div>
        <div class="bs_header " style="width:100%; background-color: #7f5539">
            <nav class="navigation">
                <ul class="nav nav-pills">
                    <li>
                    </li>
                    @if (Session["Admin"] != null)
                    {
                        <li class="nav-link dropdown ">
                            <span class="nav-link dropdown-toggle link-dark " data-bs-toggle="dropdown">@Session["AdminName"]</span>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="~/Admin/Logout">Đăng xuất</a></li>
                            </ul>
                        </li>

                    }
                </ul>
            </nav>
            <div class="app-branding">
                <a class="app-logo" href="index.html"><img class="logo-icon me-2" src="~/Images/Logo1.png" alt="logo" style="width:10%;"></a>
            </div>
        </div>
        <div id="app-sidepanel" class="app-sidepanel">
            <!--//app-branding-->
            <div id="sidepanel-drop" class="sidepanel-drop" style="margin-top: 60px"></div>
            <div class="sidepanel-inner d-flex flex-column">
                <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1" , style=" background-color: #e6ccb2">
                    <ul class="app-menu list-unstyled accordion" id="menu-accordion">
                        <li class="nav-item">
                            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                            <a class="nav-link" href="@Url.Action("Index","Category")">
                                <span class="nav-link-text">Danh mục sách</span>
                            </a><!--//nav-link--><!--//nav-link-->
                        </li><!--//nav-item-->
                        <li class="nav-item">
                            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                            <a class="nav-link" href="@Url.Action("Index", "Publisher")">
                                <span class="nav-link-text">Nhà xuất bản</span>
                            </a><!--//nav-link-->
                        </li><!--//nav-item-->
                        <li class="nav-item">
                            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                            <a class="nav-link" href="@Url.Action("Index","Author")">
                                <span class="nav-link-text">Tác giả</span>
                            </a><!--//nav-link-->
                        </li><!--//nav-item-->
                        <li class="nav-item">
                            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                            <a class="nav-link" href="@Url.Action("Index","Book")">
                                <span class="nav-link-text">Sách</span>
                            </a><!--//nav-link-->
                        </li><!--//nav-item-->

                        <li class="nav-item">
                            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                            <a class="nav-link" href="@Url.Action("Index","Customer")">
                                <span class="nav-link-text">Tài khoản</span>
                            </a><!--//nav-link-->
                        </li><!--//nav-item-->
                        <li class="nav-item">
                            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                            <a class="nav-link" href="@Url.Action("Logout","Users")">
                                <span class="nav-link-text">Đơn hàng</span>
                            </a><!--//nav-link-->
                        </li><!--//nav-item-->
                        <li class="nav-item">
                            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                            <a class="nav-link" href="@Url.Action("Logout","Users")">
                                <span class="nav-link-text">Thống kê</span>
                            </a><!--//nav-link-->
                        </li><!--//nav-item-->
                    </ul><!--//app-menu-->
                </nav><!--//app-nav-->
            </div><!--//sidepanel-inner-->
        </div>
    </div>
    <div class="app-wrapper" , style="background-color: #ede0d4; margin-top: -15px; height: 905px">
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                @RenderBody()
            </div>
        </div>
        @*<div style="display:block;padding:5px 0 0 0 ; width:20%; height:100%;float:left ; font-size:28px">
                <div class="container mt-3 text-white">
                    <div class="list-group mb-3">
                        <div class="list-group-item list-group-item-secondary"><a class="nav-link" href="~/Category/Index">Danh mục sách</a></div>
                        <div class="list-group-item list-group-item-secondary"><a class="nav-link" href="~/Publisher/Index">Nhà xuất bản</a></div>
                        <div class="list-group-item list-group-item-secondary"><a class="nav-link" href="~/Author/Index">Tác giả</a></div>
                        <div class="list-group-item list-group-item-secondary"><a class="nav-link" href="~/Book/Index">Sách</a></div>
                        <div class="list-group-item list-group-item-secondary"><a class="nav-link" href="~/Customer/Index">Tài khoản</a></div>
                        <div class="list-group-item list-group-item-secondary"><a class="nav-link" href="~/Users/Logout">Đơn hàng</a></div>
                        <div class="list-group-item list-group-item-secondary"><a class="nav-link" href="~/Users/Logout">Thống kê</a></div>
                    </div>
                </div>
            </div>*@
    </div>
</body>
</html>
